<!-- forgot-password.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Forgot Password</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
</head>

<body>

  <div class="wrapper">
    <form action="/forgot-password" method="post" class="forgot-password-form">
      <h2>Forgot Password</h2>
      <div class="input-field">
        <input id="email" placeholder="Email" name="email" type="email" required />
        <label for="email">Email</label>
      </div>
      <input class="submit-btn" type="submit" value="Submit" />
      <div class="back-to-login">
        <p>Remember your password? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>

</body>

</html>
